@model HomeCurierFriends

<style>
@@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap');
    .asd{
        font-size: 50px;
        font-family: "Playwrite NZ", cursive;
    }

$success-color: #2ec946;

main {
  padding: 40px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  width: 512px;
  padding: 16px;
  margin: 8px;
  max-width: 90%;
}

@@mixin alert-1($color) {
  background-color: rgba($color, 0.05);
  
  .alert-title {
    color: $color;
  }
}

@@mixin alert-2($color) {
  border-left: 4px solid $color;
  background-color: rgba($color, 0.05);
  
  .alert-title {
    color: $color;
  }
}

@@mixin alert-3($color) {
  border: 1px solid lighten($color, 25%);
  border-radius: 8px;
  background-color: rgba($color, 0.05);
  
  .alert-title {
    color: $color;
  }
}

.alert-1-primary {
  @@include alert-1($primary-color);
}

.alert-1-warning {
  @@include alert-1($warning-color);
}

.alert-2-success {
  @@include alert-2($success-color);
}

.alert-2-secondary {
  @@include alert-2($secondary-color);
}

.alert-3-primary {
  @@include alert-3($primary-color);
}

.alert-3-danger {
  @@include alert-3($danger-color);
}

.alert-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

.alert-content {
  margin: 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #555555;
}
</style>



<main id="site__main" class="2xl:ml-[--w-side]  xl:ml-[--w-side-sm] p-2.5 h-[calc(100vh-var(--m-top))] mt-[--m-top]">

    <div class="relative overflow-hidden border -m-2.5 dark:border-slate-700">
        
        <div class="flex bg-white dark:bg-dark2">

            <!-- sidebar -->
            <div class="md:w-[360px] relative border-r dark:border-slate-700">

                <div id="side-chat" class="top-0 left-0 max-md:fixed max-md:w-5/6 max-md:h-screen bg-white z-50 max-md:shadow max-md:-translate-x-full dark:bg-dark2">
                    <!-- heading title -->
                    <div class="p-4 border-b dark:border-slate-700">

                        <div class="flex mt-2 items-center justify-between">

                            <h2 class="text-2xl font-bold text-black ml-1 dark:text-white"> Chats </h2>
                            
                            
                            <!-- right action buttons -->
                            <div class="flex items-center gap-2.5">


                                <button class="group" aria-haspopup="true" aria-expanded="false">
                                    <ion-icon name="settings-outline" class="text-2xl flex group-aria-expanded:rotate-180 md hydrated" role="img" aria-label="settings outline"></ion-icon>
                                </button>
                                <div class="md:w-[270px] w-full uk-dropdown" uk-dropdown="pos: bottom-left; offset:10; animation: uk-animation-slide-bottom-small" style="max-width: 1246px; top: 62px; left: 285.2px;">
                                    <nav>
                                        <a href="#"> <ion-icon class="text-2xl shrink-0 -ml-1 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline"></ion-icon> Mark all as read </a>
                                        <a href="#"> <ion-icon class="text-2xl shrink-0 -ml-1 md hydrated" name="notifications-outline" role="img" aria-label="notifications outline"></ion-icon> notifications setting </a>
                                        <a href="#"> <ion-icon class="text-xl shrink-0 -ml-1 md hydrated" name="volume-mute-outline" role="img" aria-label="volume mute outline"></ion-icon> Mute notifications </a>
                                    </nav>
                                </div>

                                <button class="">
                                    <ion-icon name="checkmark-circle-outline" class="text-2xl flex md hydrated" role="img" aria-label="checkmark circle outline"></ion-icon>
                                </button>

                                <!-- mobile toggle menu -->
                                <button type="button" class="md:hidden" uk-toggle="target: #side-chat ; cls: max-md:-translate-x-full" aria-expanded="true">
                                    <ion-icon name="chevron-down-outline" role="img" class="md hydrated" aria-label="chevron down outline"></ion-icon>
                                </button>

                            </div>
                            

                        </div>
                        <!-- search -->
                        <div class="relative mt-4">
                            <div class="absolute left-3 bottom-1/2 translate-y-1/2 flex"><ion-icon name="search" class="text-xl md hydrated" role="img" aria-label="search"></ion-icon></div>
                            <input type="text" placeholder="Search" class="w-full !pl-10 !py-2 !rounded-lg">
                        </div>

                    </div>


                    <!-- users list -->
                    <div class="space-y-2 p-2 overflow-y-auto md:h-[calc(100vh-204px)] h-[calc(100vh-130px)]">

                        @foreach (var user in Model.userVM)
                        {
                            <a id="get-user-chat" asp-action="Index" asp-controller="Chat" asp-route-recieveId="@user.Id" class="relative flex items-center gap-4 p-2 duration-200 rounded-xl hover:bg-secondery">
                                <div class="relative w-14 h-14 shrink-0">
                                    <img src="@user.ProfilePhoto" alt="" class="object-cover w-full h-full rounded-full">
                                    @* <div class="w-4 h-4 absolute bottom-0 right-0  bg-green-500 rounded-full border border-white dark:border-slate-800"></div> *@
                                </div>
                                <div class="flex-1 min-w-0">
                                    <div class="flex items-center gap-2 mb-1.5">
                                        <div class="mr-auto text-sm text-black dark:text-white font-medium">@user.UserName</div>
                                        @* <div class="text-xs font-light text-gray-500 dark:text-white/70">09:40AM</div> *@
                                    </div>
                                    @* <div class="font-medium overflow-hidden text-ellipsis text-sm whitespace-nowrap">Love your photos 😍</div> *@
                                </div>
                            </a>

                        }


                    </div>

                </div>

                <!-- overly -->
                <div id="side-chat" class="bg-slate-100/40 backdrop-blur w-full h-full dark:bg-slate-800/40 z-40 fixed inset-0 max-md:-translate-x-full md:hidden" uk-toggle="target: #side-chat ; cls: max-md:-translate-x-full" tabindex="0" aria-expanded="true"></div>

            </div>
            @if (Model.recieveId != "Null")
            {
                <!-- message center -->
                <div class="flex-1">

                    <!-- chat heading -->
                    <div class="flex items-center justify-between gap-2 w- px-6 py-3.5 z-10 border-b dark:border-slate-700 uk-animation-slide-top-medium">

                        <div class="flex items-center sm:gap-4 gap-2">

                            <!-- toggle for mobile -->
                            <button type="button" class="md:hidden" uk-toggle="target: #side-chat ; cls: max-md:-translate-x-full" aria-expanded="true">
                                <ion-icon name="chevron-back-outline" class="text-2xl -ml-4 md hydrated" role="img" aria-label="chevron back outline"></ion-icon>
                            </button>

                            <div class="relative cursor-pointer max-md:hidden" uk-toggle="target: .rightt ; cls: hidden" tabindex="0" aria-expanded="true">
                                <img src="@Model.ProfilePhote" alt="" class="w-8 h-8 rounded-full shadow">
                                @* <div class="w-2 h-2 bg-teal-500 rounded-full absolute right-0 bottom-0 m-px"></div> *@
                            </div>
                            <div class="cursor-pointer" uk-toggle="target: .rightt ; cls: hidden" tabindex="0" aria-expanded="true">
                                <div class="text-base font-bold"> @Model.FullName </div>
                                @* <div class="text-xs text-green-500 font-semibold"> Online</div> *@
                            </div>


                        </div>

                        <div class="flex items-center gap-2">
@*                             <button type="button" class="button__ico">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6">
                                    <path fill-rule="evenodd" d="M2 3.5A1.5 1.5 0 013.5 2h1.148a1.5 1.5 0 011.465 1.175l.716 3.223a1.5 1.5 0 01-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 006.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 011.767-1.052l3.223.716A1.5 1.5 0 0118 15.352V16.5a1.5 1.5 0 01-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 012.43 8.326 13.019 13.019 0 012 5V3.5z" clip-rule="evenodd"></path>
                                </svg>
                            </button>
                            <button type="button" class="hover:bg-slate-100 p-1.5 rounded-full">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" d="M15.75 10.5l4.72-4.72a.75.75 0 011.28.53v11.38a.75.75 0 01-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25h-9A2.25 2.25 0 002.25 7.5v9a2.25 2.25 0 002.25 2.25z"></path>
                                </svg>
                            </button> 
                            <button type="button" class="hover:bg-slate-100 p-1.5 rounded-full" uk-toggle="target: .rightt ; cls: hidden" aria-expanded="true">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"></path>
                                </svg>
                        </button>*@
                        </div>

                    </div>

                    <!-- chats bubble -->
                    <div class="w-full p-5 py-10 overflow-y-auto md:h-[calc(100vh-204px)] h-[calc(100vh-195px)]">
                        <div id="clientStatusMessage">
                        </div>

                        <div class="py-10 text-center text-sm lg:pt-8">
                            <img src="@Model.ProfilePhote" class="w-24 h-24 rounded-full mx-auto mb-3" alt="">
                            <div class="mt-8">
                                <div class="md:text-xl text-base font-medium text-black dark:text-white"> @Model.Name </div>
                                <div class="text-gray-500 text-sm   dark:text-white/80"> @@@Model.FullName </div>
                            </div>
                            <div class="mt-3.5">
                                <a href="timeline.html" class="inline-block rounded-lg px-4 py-1.5 text-sm font-semibold bg-secondery">View profile</a>
                            </div>
                        </div>

                        <div class="text-sm font-medium space-y-6 messages-value">
                            <!-- received -->
                            <div class="flex gap-3 message-value" id="message-value">
                                <div class="px-4 py-2 rounded-[20px] max-w-sm bg-secondery message"></div>
                            </div>

                            <!-- sent -->
                            <div class="flex gap-2 flex-row-reverse items-end message-your-value">
                                <div class="px-4 py-2 rounded-[20px] max-w-sm bg-gradient-to-tr from-sky-500 to-blue-500 text-white shadow"></div>
                            </div>
                            @foreach (var chat in Model.sendChatDataVM)
                            {
                                if (chat.FromId == Model.CurrentUserId)
                                {
                                    <!-- sent -->
                                    <div class="flex gap-2 flex-row-reverse items-end">
                                        <div class="px-4 py-2 rounded-[20px] max-w-sm bg-gradient-to-tr from-sky-500 to-blue-500 text-white shadow"> @chat.Message </div>
                                    </div>
                                }
                                else if (chat.FromId == Model.recieveId)
                                {
                                    <!-- received -->
                                    <div class="flex gap-3">
                                        <div class="px-4 py-2 rounded-[20px] max-w-sm bg-secondery message"> @chat.Message </div>
                                    </div>
                                }
                            }


                            @*
                        <!-- time -->
                        <div class="flex justify-center ">
                        <div class="font-medium text-gray-500 text-sm dark:text-white/70">
                        April 8,2023,6:30 AM
                        </div>
                        </div>

                        <!-- sent media-->
                        <div class="flex gap-2 flex-row-reverse items-end">
                        <img src="assets/images/avatars/avatar-3.jpg" alt="" class="w-4 h-4 rounded-full shadow">

                        <a class="block rounded-[18px] border overflow-hidden" href="#">
                        <div class="max-w-md">
                        <div class="max-w-full relative w-72">
                        <div class="relative" style="padding-bottom: 57.4286%">
                        <div class="w-full h-full absolute inset-0">
                        <img src="assets/images/product/product-2.jpg" alt="" class="block max-w-full max-h-52 w-full h-full object-cover">
                        </div>
                        </div>
                        </div>
                        </div>
                        </a>

                        </div> *@

                        </div>

                    </div>

                    <!-- sending message area -->
                    <div class="flex items-center md:gap-4 gap-2 md:p-3 p-2 overflow-hidden">

                        <div id="message__wrap" class="flex items-center gap-2 h-full dark:text-white -mt-1.5">

                            <button type="button" class="shrink-0" aria-haspopup="true" aria-expanded="false">
                                <ion-icon class="text-3xl flex md hydrated" name="add-circle-outline" role="img" aria-label="add circle outline"></ion-icon>
                            </button>
                            <div class="dropbar pt-36 h-60 bg-gradient-to-t via-white from-white via-30% from-30% dark:from-slate-900 dark:via-900 uk-drop" uk-drop="stretch: x; target: #message__wrap ;animation:  slide-bottom ;animate-out: true; pos: top-left; offset:10 ; mode: click ; duration: 200">

                                <div class="sm:w-full p-3 flex justify-center gap-5" uk-scrollspy="target: > button; cls: uk-animation-slide-bottom-small; delay: 100;repeat:true">

                                    <button type="button" class="bg-sky-50 text-sky-600 border border-sky-100 shadow-sm p-2.5 rounded-full shrink-0 duration-100 hover:scale-[1.15] dark:bg-dark3 dark:border-0" style="opacity: 0;">
                                        <ion-icon class="text-3xl flex md hydrated" name="image" role="img" aria-label="image"></ion-icon>
                                    </button>
                                    <button type="button" class="bg-green-50 text-green-600 border border-green-100 shadow-sm p-2.5 rounded-full shrink-0 duration-100 hover:scale-[1.15] dark:bg-dark3 dark:border-0" style="opacity: 0;">
                                        <ion-icon class="text-3xl flex md hydrated" name="images" role="img" aria-label="images"></ion-icon>
                                    </button>
                                    <button type="button" class="bg-pink-50 text-pink-600 border border-pink-100 shadow-sm p-2.5 rounded-full shrink-0 duration-100 hover:scale-[1.15] dark:bg-dark3 dark:border-0" style="opacity: 0;">
                                        <ion-icon class="text-3xl flex md hydrated" name="document-text" role="img" aria-label="document text"></ion-icon>
                                    </button>
                                    <button type="button" class="bg-orange-50 text-orange-600 border border-orange-100 shadow-sm p-2.5 rounded-full shrink-0 duration-100 hover:scale-[1.15] dark:bg-dark3 dark:border-0" style="opacity: 0;">
                                        <ion-icon class="text-3xl flex md hydrated" name="gift" role="img" aria-label="gift"></ion-icon>
                                    </button>


                                </div>

                            </div>

                            <button type="button" class="shrink-0" aria-haspopup="true" aria-expanded="false">
                                <ion-icon class="text-3xl flex md hydrated" name="happy-outline" role="img" aria-label="happy outline"></ion-icon>
                            </button>
                            <div class="dropbar p-2 uk-drop" uk-drop="stretch: x; target: #message__wrap ;animation: uk-animation-scale-up uk-transform-origin-bottom-left ;animate-out: true; pos: top-left ; offset:2; mode: click ; duration: 200 ">

                                <div class="sm:w-60 bg-white shadow-lg border rounded-xl  pr-0 dark:border-slate-700 dark:bg-dark3">

                                    <h4 class="text-sm font-semibold p-3 pb-0">Send Imogi</h4>

                                    <div class="grid grid-cols-5 overflow-y-auto max-h-44 p-3 text-center text-xl">

                                        <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😊 </div>
                                        <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🤩 </div>
                                        <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😎</div>
                                        <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🥳 </div>
                                        <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😂 </div>
                                        <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🥰 </div>
                                        <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😡 </div>
                                        <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😊 </div>
                                        <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🤩 </div>
                                        <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😎</div>
                                        <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🥳 </div>
                                        <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😂 </div>
                                        <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🥰 </div>
                                        <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😡 </div>
                                        <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🤔 </div>
                                        <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😊 </div>
                                        <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🤩 </div>
                                        <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😎</div>
                                        <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🥳 </div>
                                        <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😂 </div>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="relative flex-1">
                            <textarea placeholder="Write your message" rows="1" class="w-full resize-none bg-secondery rounded-full px-4 p-2 text-area-value"></textarea>

                            <button type="button" class="text-white shrink-0 p-2 absolute right-0.5 top-0 btn-send-message">
                                <ion-icon class="text-xl flex md hydrated" name="send-outline" role="img" aria-label="send outline"></ion-icon>
                            </button>

                        </div>

                        <button type="button" class="flex h-full dark:text-white">
                            <ion-icon class="text-3xl flex -mt-3 md hydrated" name="heart-outline" role="img" aria-label="heart outline"></ion-icon>
                        </button>

                    </div>

                </div>
            }
            else
            {
                <div class="w-full p-5 py-10 overflow-y-auto md:h-[calc(100vh-204px)] h-[calc(100vh-195px)] open-with-delay">
                    
                </div>

                <script>
                    $(".open-with-delay").html(
                        `
                                            <div class="py-10 text-center text-sm lg:pt-8">
                                            <div class="mt-8">
                                                <div style="margin-top:20%;" class="md:text-xl text-base font-medium text-black dark:text-white asd"> Welcome to chat  </div>
                                                <div style="margin-top:3%;" class="md:text-xl text-base font-medium text-black dark:text-white asd"> (☆*: .｡. oo .｡.:*☆)  </div>
                                            </div>
                                        </div>
                        `
                    )

                    $(".open-with-delay").fadeOut(-2000, () => {
                        setTimeout(() => {
                            $(".open-with-delay").fadeIn(2000);
                        })
                    })
                </script>
            }
            

            <!-- user profile right info -->
            <div class="rightt w-full h-full absolute top-0 right-0 z-10 hidden transition-transform">
                <div class="w-[360px] border-l shadow-lg h-screen bg-white absolute right-0 top-0 uk-animation-slide-right-medium delay-200 z-50 dark:bg-dark2 dark:border-slate-700">

                    <div class="w-full h-1.5 bg-gradient-to-r to-purple-500 via-red-500 from-pink-500 -mt-px"></div>

                    <div class="py-10 text-center text-sm pt-20">
                        <img src="assets/images/avatars/avatar-3.jpg" class="w-24 h-24 rounded-full mx-auto mb-3" alt="">
                        <div class="mt-8">
                            <div class="md:text-xl text-base font-medium text-black dark:text-white"> Monroe Parker  </div>
                            <div class="text-gray-500 text-sm mt-1 dark:text-white/80">@@Monroepark</div>
                        </div>
                        <div class="mt-5">
                            <a href="timeline.html" class="inline-block rounded-full px-4 py-1.5 text-sm font-semibold bg-secondery">View profile</a>
                        </div>
                    </div>

                    <hr class="opacity-80 dark:border-slate-700">

                    <ul class="text-base font-medium p-3">
                        <li>
                            <div class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-secondery">
                                <ion-icon name="notifications-off-outline" class="text-2xl md hydrated" role="img" aria-label="notifications off outline"></ion-icon> Mute Notification
                                <label class="switch cursor-pointer ml-auto"> <input type="checkbox" checked=""><span class="switch-button !relative"></span></label>
                            </div>
                        </li>
                        <li> <button type="button" class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-secondery"> <ion-icon name="flag-outline" class="text-2xl md hydrated" role="img" aria-label="flag outline"></ion-icon> Report     </button></li>
                        <li> <button type="button" class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-secondery"> <ion-icon name="settings-outline" class="text-2xl md hydrated" role="img" aria-label="settings outline"></ion-icon> Ignore messages   </button> </li>
                        <li> <button type="button" class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-secondery"> <ion-icon name="stop-circle-outline" class="text-2xl md hydrated" role="img" aria-label="stop circle outline"></ion-icon> Block    </button> </li>
                        <li> <button type="button" class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-red-50 text-red-500"> <ion-icon name="trash-outline" class="text-2xl md hydrated" role="img" aria-label="trash outline"></ion-icon> Delete Chat   </button> </li>
                    </ul>

                    <!-- close button -->
                    <button type="button" class="absolute top-0 right-0 m-4 p-2 bg-secondery rounded-full" uk-toggle="target: .rightt ; cls: hidden" aria-expanded="true">
                        <ion-icon name="close" class="text-2xl flex md hydrated" role="img" aria-label="close"></ion-icon>
                    </button>

                </div>

                <!-- overly -->
                <div class="bg-slate-100/40 backdrop-blur absolute w-full h-full dark:bg-slate-800/40" uk-toggle="target: .rightt ; cls: hidden" tabindex="0" aria-expanded="true"></div>
                
            </div>

        </div>

    </div>

</main>


<script>
    $(document).ready(() => {
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/chathub")
            .build();
        connection.start();

        $("#clientStatusMessage").fadeIn(1000, () => {
            
            setTimeout(() => {
                var Username = @Html.Raw(Json.Serialize(Model.CurrentUserName));
                var UserId = @Html.Raw(Json.Serialize(Model.CurrentUserId));

                connection.invoke("GetNickName", Username, UserId).catch(error => console.log(error));

            }, 1000)
            
        })

        $(".btn-send-message").click(() => {``
            var RecieveUserId = @Html.Raw(Json.Serialize(Model.recieveId));
            var message = $(".text-area-value").val();
            var UserId = @Html.Raw(Json.Serialize(Model.CurrentUserId));

            connection.invoke("SendMessageAsync", message, RecieveUserId, UserId).catch(error => console.log(error));
            
            const messageValue = $(".message-your-value").clone();
            messageValue.find("div").html(message);
            $(".messages-value").append(messageValue);
            messageValue.removeClass("message-your-value");
            
        })
        
        var input = document.querySelector('.btn-send-message');
        var textarea = document.querySelector('.text-area-value');

        input.addEventListener('click', function () {
            textarea.value = '';
        }, false);
        

        connection.on(`ClientJoined`, Username => {

            $("#clientStatusMessage").html(
                `

                                            <div class="alert alert-2-success" style="float:inline-end; background-color:rgba(105, 255, 78, 0.1); width:20%; border-left:7px solid green">
                                <h3 class="alert-title">${Username}</h3>
                                <p class="alert-content">Connected user.</p>
                            </div>
            `
            )
            $("#clientStatusMessage").fadeIn(1000, () => {
                setTimeout(() => { 
                    $("#clientStatusMessage").fadeOut(2000);
                },1000)
            })
        })

        


            connection.on("recieveMessage", (message, userId) => {
                const queryString = window.location.search;
                if (userId == queryString.substring(11)) {
                    const messageValue = $(".message-value").clone();
                    messageValue.removeClass("message-value");
                    messageValue.find("div").html(message);
                    $(".messages-value").append(messageValue);
                    messageValue.removeClass("message-value");
                }
                

            
            })

        
    })
</script>